body {
    margin: 0 auto;
    padding: 0;
}

.heading {
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 3%;
    font-size: 50px;
    font-weight: 700;  
}