body {
    margin: 0 auto;
    padding: 0;
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.hero h1 {
    color: #612205c9;
    box-shadow: 5px 8px 20px #2b2a2a2c;
    border: none;
}

.hero p {
    width: 60vw;
    padding: 5px;
}